*.zip filter=lfs diff=lfs merge=lfs -text
SMA2503A_Control_Panel_V104.zip !text !filter !merge !diff
SMA2503A_Control_Panel_V103.zip !text !filter !merge !diff
SMA2503A_Control_Panel_V102.zip !text !filter !merge !diff
SMA2503A_Control_Panel_V101.zip !text !filter !merge !diff
SMA2503_Control_Panel_V100.zip !text !filter !merge !diff
